<!DOCTYPE html>
<html>
  <head>
    <title>Sreeram Kannan</title>
  </head>
  <body>
    <h1>Sreeram Kannan</h1>
    <img src="https://newtrialwebsite.sreeramking.repl.co/static/RE.jpg" height=480>
    <h2>About Sreeram Kannan</h2>
    <p>I am Sreeram. Sreeram Kannan. Sreeram Kannan the Great!!! I am Sreeram. Sreeram Kannan. Sreeram Kannan the Great!!! I am Sreeram. Sreeram Kannan. Sreeram Kannan the Great!!! I am Sreeram. Sreeram Kannan. Sreeram Kannan the Great!!!</p>
    <h2>Point to be noted</h2>
    <button>Contact Me!!!</button>
  </body>
</html>